*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reggae One', cursive;
    
}
.ContainerDiv{
    background-color: rgb(183, 89, 250);
}
.cusbtn{
    margin: 15px;
}
.ProgressBar{
    margin: 25px;
    text-align: center;
}
#stepWrapper{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.Step{
    margin: 25px;
}
.Bullet{
    border: 3px solid green;
    border-radius: 100%;
    margin: 10px;
    line-height: 20px;
    position: relative;
}
.Bullet.Completed{
    color: white;
    background-color: green;
}
.buttonDiv{
    justify-content: center;
    text-align: center;
}
.Bullet.Completed::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 76px;
    bottom: 10px;
    background-color: green;
    
}
.finish{
    color: white;
    background-color: green;
}
.input100 {
    height: 32px;
    padding: 0 35px;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 31px;
    line-height: 1.2;
}
.main{
    text-align: center;
    padding: 15px;
    background-color: gray;
    border-radius: 31px;
}
.mainContent{
    margin:10px;
}
.quotes{
    font-weight: bold;
    margin:8px;
    border:3px solid green;
    border-radius: 30px;
    padding: 5px;
}
.overflowradio{
    display: none;
    overflow: scroll;
    background-color: white;
    width: 100%;
    border: 4px solid gray;
    border-radius: 30px;
    height: 350px;
}
.third{
    text-align: center;
}

#fourth{
    display: none;
    text-align: center;
}
#mycanvas{
    margin: 20px;
    height: 300px;
    width: 250px;
    padding: 10px;
}
img {
    max-width: 80%;
    display: inline-block;
    margin: 8px;
    height: 200px;
  }
  /* For medium devices (e.g. tablets) */
@media (min-width: 420px) {
    img {
      max-width: 48%;
    }
  }
  /* For large devices (e.g. desktops) */
  @media (min-width: 760px) {
    img {
      max-width: 24%;
    }
  }
.btnDown{
    text-align: center;
    display: none;
}
/* footer start from here */

.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}
.content1 p{
  font-size: 2.1875rem;
  font-weight: 600;
  color:white;
}
footer{
  bottom: 0px;
  width: 100%;
  background: #111;
  color: white;
  font-size: 12px;
  margin-top: 25px;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}